.style {
	border: 1px solid black;
	width: 300px;
	padding: 1em;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.right {
	float: right;
}

.left {
	float: left;
}

#content {
	margin-bottom: 3em;
}

.crossed {
	text-decoration: line-through;
	font-weight: bold !important;
}
